@import 'https://cdn.jsdelivr.net/npm/@photo-sphere-viewer/core@5/index.css';

body {
    font-family: Arial, sans-serif;
    background: #eef2f3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.content
{
    display: flex;
    flex-direction: column;
    align-items: center;    
}

button {
    width: 100%;
    padding: 0.75rem;
    background-color: #28a745;
    border: none;
    color: white;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    margin: 0.75rem;
}

button:hover {
    background-color: #218838;
}
